{% extends "templates/web.html" %}

{% macro email_login_body() -%}
{% if not disable_user_pass_login or (ldap_settings and ldap_settings.enabled) %}

{% endif %}
<div class="page-card-actions">
	{% if not disable_user_pass_login %}
	<div class="page-card-actions">
		<button class="btn btn-primary btn-login w-100" type="submit">
			Entrar</button>
	</div>
	{% endif %}
	{% if ldap_settings and ldap_settings.enabled %}
	<button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
		{{ _("Login with LDAP") }}</button>
	{% endif %}
</div>
{% endmacro %}

{% block head_include %}
{{ include_style('login.bundle.css') }}
{% endblock %}

{% macro logo_section() %}
<div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	<h4>{{ _('Login to {0}').format(app_name or _("Frappe")) }}</h4>
</div>
{% endmacro %}

{% block page_content %}
<!-- {{ for_test }} -->
<div>
	<noscript>
		<div class="text-center my-5">
			<h4>{{ _("Javascript is disabled on your browser") }}</h4>
			<p class="text-muted">
				{{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
		</div>
	</noscript>
	<div class="page-content-wrapper">

		<div class="page-breadcrumbs">

			<main class="container-fluid">
				<div class="page-header-wrapper">
					<div class="page-header">

					</div>
				</div>

				<div class="page_content row">
					<div class="col-lg-6 left-login">
						<div class="left-top d-flex flex-column justify-content-end">
							<div class="content-left">
								<img src="/files/logo-tmx.svg">
								<div class="content-texts">
									<h1>Conecte-se ao futuro com tecnologia.</h1>
									<h2>Nunca foi tão fácil levar a sua empresa ao próximo passo.</h2>
								</div>

							</div>
						</div>
						<div class="left-bottom">

						</div>

					</div>

					<!-- login.html -->
					<div class="col-lg-6 right-login">

						<section class='for-login'>
							<div class="login-content page-card">
								<img src="/files/logo-tmx.svg" class="d-none logo-tmx">

								<form class="form-signin form-login" role="form">

									<div class="page-card-body page-card-body-login">
										<div class="form-group form-group-email">
											<label class="label-login" for="login_email">E-mail ou nome de usuário</label>
											<div class="email-field">
												<input type="text" id="login_email" class="form-control input-login" placeholder="Seu e-mail ou nome de usuário" required autofocus autocomplete="username">
											</div>
										</div>

										<div class="form-group">
											<label class="label-login" for="login_password">Senha</label>
											<div class="password-field">
												<input type="password" id="login_password" class="form-control input-login" placeholder="Sua senha" autocomplete="current-password" required>
												<span toggle="#login_password" class="toggle-password text-muted" style="cursor: pointer;"><img src="/files/icon-pass(open).svg"></span>
											</div>
										</div>

										<p class="forgot-password-message">
											<a class="esqueceu hover" href="#forgot">Esqueceu sua Senha?</a>
										</p>
									</div>

									<div class="page-card-actions">

										<button class="btn btn-primary btn-login w-100" type="submit">
											Entrar</button>
									</div>
								</form>
							</div>
						</section>

						{%- if social_login -%}
						<section class='for-email-login'>
							<div class="login-content page-card">
								{{ logo_section() }}
								<form class="form-signin form-login" role="form">
									{{ email_login_body() }}
								</form>
							</div>
							{%- if not disable_signup and not disable_user_pass_login -%}
							<div class="text-center sign-up-message">
								{{ _("Don't have an account?") }}
								<a href="#signup">{{ _("Sign up") }}</a>
							</div>
							{%- endif -%}
						</section>
						{%- endif -%}
						<section class='for-signup '>

							<div class="login-content page-card">

								<img src="/files/logo-tmx.svg" class="d-none logo-tmx">
								<form class="form-signin form-signup hide" role="form">
									<div class="page-card-body">
										<div class="form-group">
											<label class="label-login" for="signup_fullname">Nome Completo</label>
											<input type="text" id="signup_fullname" class="form-control input-login" placeholder="Jane Doe" required autofocus autocomplete="name">
										</div>
										<div class="form-group">
											<label class="label-login" for="signup_email">E-mail</label>
											<input type="email" id="signup_email" class="form-control input-login" placeholder="jane@example.com" required autocomplete="username">
										</div>
									</div>
									<div class="page-card-actions">
										<button class="btn btn-primary btn-signup w-100" type="submit">Inscrever-se</button>

										<div class="mt-4 sign-up-message">
											Já tem uma conta?
											<a href="#login" class="hover text-left criar">Entrar</a>
										</div>
									</div>
								</form>
							</div>

						</section>

						<section class='for-forgot'>
							<div class="login-content page-card">
								<img src="/files/logo-tmx.svg" class="d-none logo-tmx">
								<form class="form-signin form-forgot hide" role="form">

									<div class="header-forgot">
										<p class="forgot-message">
											<a href="#login" class="voltar hover">Voltar</a>
										</p>

										<div class="linha"></div>
										<h4 class="title-forgot">Esqueceu sua Senha?</h4>
										<h5 class="text-forgot">Preencha abaixo seu endereço de email para receber as instruções necessárias e criar uma nova senha na TechMax Soluções.</h5>
									</div>

									<div class="page-card-body">
										<div class="email-field">
											<input type="email" id="forgot_email" class="input-login form-control" placeholder="Digite seu e-mail" required autofocus autocomplete="username">


										</div>
									</div>
									<div>
										<div class="page-card-actions">
											<button class="mt-2 btn btn-primary btn-forgot w-100" type="submit">Recuperar minha senha</button>
											<p class="text-center sign-up-message">
												<a class="mt-4 hover d-none" href="#login">Voltar a Iniciar Sessão</a>
											</p>
										</div>
									</div>

								</form>
							</div>
						</section>

						<section class='for-login-with-email-link'>
							<div class="login-content page-card">
								<form class="form-signin form-login-with-email-link hide" role="form">
									<div class="page-card-head">
										<h4>{{ _('Login With Email Link') }}</h4>
									</div>
									<div class="page-card-body">
										<div class="email-field">
											<input type="email" id="login_with_email_link_email" class="form-control" placeholder="{{ _('Email Address') }}" required autofocus autocomplete="username">
											<svg class="field-icon email-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.5 7.65149V15.0757C2.5 15.4374 2.64367 15.7842 2.8994 16.04C3.15513 16.2957 3.50198 16.4394 3.86364 16.4394H16.1364C16.498 16.4394 16.8449 16.2957 17.1006 16.04C17.3563 15.7842 17.5 15.4374 17.5 15.0757V7.65149" stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
												<path d="M17.5 7.57572V5.53026C17.5 5.1686 17.3563 4.82176 17.1006 4.56603C16.8449 4.31029 16.498 4.16663 16.1364 4.16663H3.86364C3.50198 4.16663 3.15513 4.31029 2.8994 4.56603C2.64367 4.82176 2.5 5.1686 2.5 5.53026V7.57572L10 10.8333L17.5 7.57572Z" stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
											</svg>
										</div>
									</div>
									<div class="page-card-actions">
										<button class="btn btn-sm btn-primary btn-block btn-login-with-email-link" type="submit">{{ _("Send login link") }}</button>
										<p class="text-center sign-up-message">
											<a href="#login">{{ _("Back to Login") }}</a>
										</p>
									</div>
								</form>
							</div>
						</section>
					</div>
				</div>
				{% endblock %}

				{% block script %}
				<script>{% include "templates/includes/login/login.js" %}</script>
				{% endblock %}

				{% block sidebar %}{% endblock %}